/* .container-fluid{
  margin: 0;
  padding: 0;
} */

/* debug */
[class*="col-"]{
  border: 1px solid black;
  min-height: 100px;
  background-color: lightgreen;
  
}

.nasted{
  border: 1px solid black;
  min-height: 100px;
  background-color: orange;
}

.nasted2{
  border: 1px solid black;
  min-height: 100px;
  background-color: grey;
}
